section{
    width: 90%;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
}

section .hero-image {
    width: 100%;
    content: url("/assets/images/image-web-3-mobile.jpg");
    margin-bottom: 1.8rem;
}

section h1 {
    font-size: 2rem;
    width: 70%;
    font-weight: 800;
    color: hsl(240, 100%, 5%);
}

section p {
    margin-top: 1.5rem;
    font-size: 0.95rem;
    font-weight: 400;
    color: hsl(236, 13%, 42%);
    line-height: 1.6rem;
}

section button {
    margin-top: 1.8rem;
    margin-bottom: 1.8rem;
    background-color: hsl(5, 85%, 63%);
    color: hsl(240, 100%, 5%);
    width: 54.5%;
    border: none;
    font-size: 0.85rem;
    padding-top: 0.85rem;
    padding-bottom: 0.85rem;
    font-weight: 700;
}

section button:hover {
    cursor: pointer;
}