<section>
    <ul class="popular-list">
        <li class="popular-list-item">
            <div class="img retro"></div>
            <ul>
                <li>
                    <h2>01</h2>
                    <h3>Reviving Retro PCs</h3>
                    <p>What happens when old PCs are given modern upgrades?</p>
                </li>
            </ul>
        </li>
        <li class="popular-list-item">
            <div class="img laptop"></div>
            <ul>
                <li>
                    <h2>02</h2>
                    <h3>Top 10 Laptops of 2022</h3>
                    <p>Our best picks for various needs and budgets.</p>
                </li>
            </ul>
        </li>
        <li class="popular-list-item">
            <div class="img gaming"></div>
            <ul>
                <li>
                    <h2>03</h2>
                    <h3>The Growth of Gaming</h3>
                    <p>How the pandemic has sparked fresh opportunities.</p>
                </li>
            </ul>
        </li>
    </ul>
</section>