section {
    width: 90%;
    margin: 0 auto;
    margin-top: 4.3rem;
    font-family: "Inter", sans-serif;
}

section .popular-list {
    list-style: none;
}

section .popular-list .popular-list-item {
    display: grid;
    grid-template-columns: 30% 70%;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

section .popular-list .popular-list-item .img.retro {
    content: url("/assets/images/image-retro-pcs.jpg");
    width: 100%;
    height: 100%;
}

section .popular-list .popular-list-item .img.laptop {
    content: url("/assets/images/image-top-laptops.jpg");
    width: 100%;
    height: 100%;
}

section .popular-list .popular-list-item .img.gaming {
    content: url("/assets/images/image-gaming-growth.jpg");
    width: 100%;
    height: 100%;
}

section .popular-list .popular-list-item ul {
    list-style: none;
    height: 100%;
}

section .popular-list .popular-list-item ul li {
    margin-left: 1rem;
}

section .popular-list .popular-list-item ul li h2 {
    font-size: 1.5rem;
    color: hsl(5, 85%, 63%);
}

section .popular-list .popular-list-item ul li h3 {
    margin-top: 1rem;
    font-size: 1.1rem;
}

section .popular-list .popular-list-item ul li h3:hover {
    color: hsl(5, 85%, 63%);
    cursor: pointer;
}

section .popular-list .popular-list-item ul li p {
    margin-top: 1rem;
    font-size: 0.95rem;
    color: hsl(236, 13%, 42%);
    line-height: 1.5rem;
}


@media (min-width:600px) and (max-width:1000px){
    section {
        margin-top: 8.6rem;
    }

    section .popular-list .popular-list-item {
        margin-bottom: 4rem;
    }

    section .popular-list .popular-list-item ul li {
        margin-left: 2rem;
    }

    section .popular-list .popular-list-item ul li h2 {
        font-size: 3rem;
    }

    section .popular-list .popular-list-item ul li h3 {
        margin-top: 2rem;
        font-size: 2.2rem;
    }

    section .popular-list .popular-list-item ul li p {
        margin-top: 2rem;
        font-size: 1.9rem;
        line-height: 3rem;
    }
}

@media (min-width:1000px) {
    section {
        display: grid;
        grid-template-columns: 1fr;
        width: 87%;
    }

    section .popular-list {
        display: grid;
        grid-template-columns: 32.45% 1fr 33.25%;
    }
    
    section .popular-list .popular-list-item .img.retro {
        width: 95%;
        height: 100%;
        justify-self: end;
        align-self: baseline;
    }

    section .popular-list .popular-list-item .img.laptop {
        width: 95%;
        height: 100%;
        justify-self: start;
        align-self: baseline;
    }

    section .popular-list .popular-list-item .img.gaming {
        width: 95%;
        height: 100%;
        justify-self: start;
        align-self: baseline;
    }

    section .popular-list .popular-list-item ul li {
        margin-left: 1rem;
    }

    section .popular-list .popular-list-item ul li.first {
        margin-left: 1.5rem;
    }

    section .popular-list .popular-list-item ul li h2 {
        font-size: 1.975rem;
    }

    section .popular-list .popular-list-item ul li h3 {
        margin-top: 0.3rem;
        font-size: 0.9rem;
    }

    section .popular-list .popular-list-item ul li p {
        margin-top: 1rem;
        font-size: 0.8rem;
        line-height: 1.2rem;
    }

    section .popular-list .popular-list-item ul li.first p {
        width: 88%;
    }

    section .popular-list .popular-list-item ul li.second p {
        width: 80%;
    }

    section .popular-list .popular-list-item ul li.third p {
        width: 88%;
    }

    
}

@media (min-width:1200px) {
    section {
        display: grid;
        grid-template-columns: 1fr;
        width: 87%;
    }

    section .popular-list {
        display: grid;
        grid-template-columns: 31.8% 1fr 32.6%;
    }
    
    section .popular-list .popular-list-item .img.retro {
        width: 85%;
        height: 90%;
        justify-self: start;
        align-self: baseline;
    }

    section .popular-list .popular-list-item .img.laptop {
        width: 84%;
        height: 90%;
        justify-self: start;
        align-self: baseline;
    }

    section .popular-list .popular-list-item .img.gaming {
        width: 85%;
        height: 90%;
        justify-self: start;
        align-self: baseline;
    }

    section .popular-list .popular-list-item ul li {
        margin-left: 0;
    }

    section .popular-list .popular-list-item ul li.first {
        margin-left: 0;
    }

    section .popular-list .popular-list-item ul li h2 {
        font-size: 2.5rem;
    }

    section .popular-list .popular-list-item ul li h3 {
        margin-top: 0.2rem;
        font-size: 1.3rem;
    }

    section .popular-list .popular-list-item ul li p {
        margin-top: 0.3rem;
        font-size: 1.1rem;
        line-height: 1.5rem;
    }

    section .popular-list .popular-list-item ul li.first p {
        width: 90%;
    }

    section .popular-list .popular-list-item ul li.second p {
        width: 80%;
    }

    section .popular-list .popular-list-item ul li.third p {
        width: 88%;
    }

    
}